/*GENERALES*/
#contenedor{
	width: 100%;
	max-width: 1200px;
}

*{box-sizing: border-box;}

header{
	background-color: white;
	border: 0.3rem solid blue;
}

header h1,header h2{ /*descendiente para centrar titulo principal*/
	text-align: center;
}

/*menu navegacion*/
nav ul{
	background-color: blue;
	list-style: none;
	padding: 0;
	margin: 0.2rem;
	text-align: center;
}

nav li{
	display: inline-block;
	margin: 0;
}

/* links */
nav a{
	display: inline-block;
	padding: 0.2rem 1.2rem;
	text-decoration: none;
	border: 0.4rem solid blue;
}

/* normal */
nav a:link{
	background-color: #d6d6ff;
	color: black;
}

/* visitado */
nav a:visited {
	background-color: #d6d6ff;
	color: black;
}

/* mouse encima */
nav a:hover{
	background-color: blue;
	color: white;
}

/* click */
nav a:active{
	background-color: darkblue;
	color: white;
}
/*fin menu navegacion*/


body {
	background-image: url(../img/fondo.png);
	background-repeat: repeat;
	font-family: "Cormorant Garamond", serif;
	font-size: x-large;
	margin: 0 auto; /*centra el cuerpo*/
	padding: 2 rem;
}

section{
	background-color: rgba(255,255,255,0.9);
}

footer{
	background-color: #b3b3ff;
	text-align: right;
}